<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<head>
    <title>Languide</title>
    <th:block th:fragment="head">
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
              th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
                th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                th:src="@{/webjars/popper.js/1.12.5/dist/umd/popper.min.js}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    </th:block>

</head>
<body>
<div class="container">
    <div th:fragment="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Languide</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="article" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Article
                        </a>
                        <div class="dropdown-menu" aria-labelledby="article">
                            <a class="dropdown-item" href="/index" th:href="@{/}">New article</a>
                            <a class="dropdown-item" href="#">List</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Tags</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="hasRole('USER')">
                        <a class="nav-link dropdown-toggle" href="#" id="notebook" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Notebook
                        </a>
                        <div class="dropdown-menu" aria-labelledby="notebook">
                            <a class="dropdown-item" href="#">New notebook</a>
                            <a class="dropdown-item" href="#">List</a>
                        </div>
                    </li>
                </ul>
                <span class="navbar-text ">
                    Welcome <span sec:authentication="name">Guest</span> |
                    <span sec:authorize="isAnonymous()" >
                        <a th:href="@{/login}" class="btn btn-sm btn-outline-success">Log in</a> |
                        <a th:href="@{/register}" class="btn btn-sm btn-outline-info">Sign up</a>
                    </span>
                    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" class="d-inline">
                        <input type="submit" value="Sign Out" class="btn btn-sm btn-outline-warning"/>
                    </form>
                    <!--Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>-->
                </span>
            </div>
        </nav>

    </div>
</div>
</body>
</html>