<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Languide</title>
    <th:block th:replace="~{layouts/main :: head}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
    </th:block>
</head>
<body>
<div th:insert="~{layouts/main :: content}"></div>
<div class="container">
    <section>
        <!--/*@thymesVar id="article" type="xyz.miroslaw.languide.model.Article"*/-->
        <!--<form th:object="${article}">-->
        <form>
            <div class="row">
                <div class="col-md-4">
                    <span th:text="${id}">article id</span>
                    <div class="card">
                        <div class="card-header bg-primary text-light text-center">
                            Description
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title" placeholder="Enter title">
                            </div>
                            <div class="form-group">
                                <label for="tag">Tag</label>
                                <input type="text" class="form-control" id="tag" placeholder="Enter tag">
                            </div>
                            <div class="form-group">
                                <label>Notebook</label>
                                <!--<select class="form-control" name="uom.id">-->
                                    <!--<option th:each="notebook : ${uomList}"-->
                                            <!--th:value="${uomEach.id}"-->
                                            <!--th:selected="${uomEach.id.equals(ingredient.uom.id)}"-->
                                            <!--th:text="${uomEach.description}">Each-->
                                    <!--</option>-->
                                <!--</select>-->
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>

                <div class="col-8" >
                    <div class="card">
                        <div class="card-header bg-primary text-light text-center">
                            Article
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group" th:each="lang1 : *{firstLanguage}">
                                        <input type="text" class="form-control" th:value="${lang1}">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group" th:each="lang2 : *{secondLanguage}">
                                        <input type="text" class="form-control" th:value="${lang2}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
</body>
</html>