<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<head>
    <title>Languide</title>
    <th:block th:replace="~{layouts/main :: head}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
    </th:block>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            /*<![CDATA[*/
            var article = [[${article}]];
            var lang1 = article.firstLanguage;
            var lang2 = article.secondLanguage;
            var length = Math.max(lang1.length, lang2.length);
            for (var i = 0; i < length; i++) {
                if (lang1[i] === undefined) {
                    lang1[i] = '<span class="badge badge-warning">Empty</span>'
                }
                if (lang2[i] === undefined) {
                    lang2[i] = '<span class="badge badge-warning">Empty</span>'
                }
                $('table#article').append('<tr><td data-toggle="tooltip" data-placement="left" title="Right click to remove cell">' + lang1[i] + '</td><td data-toggle="tooltip" data-placement="right" title="Right click to remove cell">' + lang2[i] + '</td></tr>');
            }
            /*]]>*/
        });
    </script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

</head>
<body>
<div class="container">
    <div th:insert="~{layouts/main :: content}"></div>
    <div class="row">
        <div class="col-lg-3">
            <div class="sticky-top sticky-articleform">
                <p sec:authorize="isAnonymous()">If you want to save your article, please create your account in <a
                        href="/user/registerform.html" th:href="@{/register}">registration site.</a></p>
                <!--/*@thymesVar id="article" type="xyz.miroslaw.languide.model.Article"*/-->
                <div sec:authorize="isAuthenticated()">
                    <p th:if="${#lists.size(notebooks)} == 0">Pleas create <a href="/notebook.html"
                                                                              th:href="@{/notebook}">notebook</a>, before save
                        article.</p>
                    <form th:object="${article}" th:if="${#lists.size(notebooks)} &gt; 0" action="/articleform"
                          th:action="@{'/articledescription/' + ${article.getId()}}" method="post">
                        <div class="card">
                            <div class="card-header bg-primary text-light text-center">
                                Description
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="title" placeholder="Enter title"
                                           th:field="*{title}" required>
                                </div>
                                <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                                       class="form-text text-danger">Password should not be empty
                                </small>
                                <div class="form-group">
                                    <label for="tag">Tag</label>
                                    <input type="text" class="form-control" id="tag" placeholder="Enter tag"
                                           th:field="*{tag}">
                                </div>
                                <div class="form-group" >
                                    <label for="hidden">Hidden for others</label>
                                    <input th:type="checkbox" th:field="*{hidden}" th:name="hidden" id="hidden">
                                </div>
                                <div class="form-group">
                                    <label>Notebook</label>
                                    <select class="form-control" name="notebook">
                                        <option th:each="notebookEach : ${notebooks}"
                                                th:value="${notebookEach.id}"
                                                th:text="${notebookEach.title}">Each
                                        </option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <table id="article" class="table table-striped table-bordered table-hover table-primary">
                <tr class="thead-dark">
                    <th>First language</th>
                    <th>Second language</th>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>