<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Languide</title>
    <th:block th:replace="~{layouts/main :: head}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
    </th:block>
</head>
<body>
<div class="container mt-5">
    <form class="form-horizontal" role="form" method="POST" action="login" th:action="@{/login}">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Please Login</h2>
                <hr>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-md-6  offset-md-3">-->
                <!--<div class="form-group has-danger">-->
                    <!--<label class="sr-only" for="email">E-Mail Address</label>-->
                    <!--<div class="input-group mb-2 mr-sm-2 mb-sm-0">-->
                        <!--<div class="input-group-prepend">-->
                            <!--<div class="input-group-text" style="width: 2.6rem"><i class="fa fa-at"></i></div>-->
                        <!--</div>-->
                        <!--<input type="email" name="username" class="form-control" id="email"-->
                               <!--placeholder="you@example.com" required autofocus>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-md-6  offset-md-3">
                <div class="form-group has-danger">
                    <label class="sr-only" for="login">Login</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        </div>
                        <input type="text" name="username" class="form-control" id="login"
                               placeholder="Login" required autofocus>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6  offset-md-3">
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        </div>
                        <input type="password" name="password" class="form-control" id="password"
                               placeholder="Password" required>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-md-3"></div>-->
            <!--<div class="col-md-6" style="padding-top: .35rem">-->
                <!--<div class="form-check mb-2 mr-sm-2 mb-sm-0">-->
                    <!--<label class="form-check-label">-->
                        <!--<input class="form-check-input" name="remember"-->
                               <!--type="checkbox">-->
                        <!--<span style="padding-bottom: .15rem">Remember me</span>-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="row" style="padding-top: 1rem">
            <div class="col-md-6 offset-md-3">
                <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
                <!--<a class="btn btn-link" href="/password/reset">Forgot Your Password?</a>-->
                <span class="text-danger ml-4" th:if="${param.error}"><i class="fa fa-close"></i>   Invalid username and/or password.</span>
            </div>
        </div>
    </form>
    <div>password: user, login: user</div>
</div>
</body>
</html>