<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Languide</title>
    <th:block th:replace="~{layouts/main :: head}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
    </th:block>
</head>
<body>
<div class="container mt-5">
    <div th:insert="~{layouts/main :: content}"></div>
    <!--/*@thymesVar id="user" type="xyz.miroslaw.languide.model.User"*/-->
    <form class="form-horizontal" role="form" method="POST" action="/register" th:action="@{/register}"
          th:object="${user}">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Register New User</h2>
                <hr>
            </div>
        </div>

        <!--<div class="row">-->
        <!--<div class="col-md-6 offset-md-3">-->
        <!--<div class="form-group">-->
        <!--<div class="input-group mb-2 mr-sm-2 mb-sm-0">-->
        <!--<div class="input-group-prepend">-->
        <!--</div>-->
        <!--<div class="input-group-text" style="width: 2.6rem"><i class="fa fa-at"></i></div>-->
        <!--<input type="text" name="email" class="form-control" id="email"-->
        <!--placeholder="you@example.com" required autofocus>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="width: 2.6rem"><i class="fas fa-user"></i></div>
                        </div>
                        <input type="text" name="name" class="form-control" id="name" th:field="*{name}"
                               placeholder="John Doe" required autofocus>
                    </div>
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                           class="form-text text-danger"><i class="fas fa-window-close"></i> Password should has at
                        least 6 characters
                    </small>
                </div>
            </div>

            <div class="col-md-6 offset-md-3">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="width: 2.6rem"><i class="fas fa-key"></i></div>
                        </div>
                        <input type="password" name="password" class="form-control" id="password" th:field="*{password}"
                               placeholder="Password" required>
                    </div>
                    <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                           class="form-text text-danger"><i class="fas fa-window-close"></i> Password should has at
                        least 6 characters
                    </small>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-6 offset-md-3">
                <button type="submit" class="btn btn-success"><i class="fas fa-user-plus"></i> Register</button>
            </div>
            <!--<div class="col-md-3">-->
            <!--<div class="form-control-feedback">-->
            <!--<span class="text-danger align-middle">-->
            <!--<i class="fa fa-close"> Example Error Message</i>-->
            <!--</span>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </form>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-info" th:if="${param.success}">
                You've successfully registered to our awesome app!
                <a href="/login" class="alert-link">Log in</a>
            </div>
            <div class="alert alert-warning" th:if="${param.error}">
                Username already exist.
            </div>
        </div>
    </div>
</div>
</body>