<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Languide</title>
    <th:block th:replace="~{layouts/main :: head}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </th:block>
</head>
<body>
<div class="container">
    <div th:insert="~{layouts/main :: content}"></div>
        <div class="row justify-content-sm-center">
            <div class="col-9">
                <!--/*@thymesVar id="articleCommand" type="xyz.miroslaw.languide.command.ArticleCommand"*/-->
                <form th:object="${articleCommand}" th:action="@{/}" method="post">
                    <div class="row ">
                        <div class="col form-group" th:classappend="${#fields.hasErrors('firstLanguage')}? 'has-error'">
                            <label for="firstLanguage">Put text from first language <span
                                    class="required">*</span></label>
                            <input type="text" id="firstLanguage" class="form-control" style="height: 500px"
                                   th:field="*{firstLanguage}"/>
                            <span th:if="${#fields.hasErrors('firstLanguage')}" th:errors="*{firstLanguage}"
                                  th:class="help-block">Error</span>
                        </div>
                        <div class="col form-group" th:classappend="${#fields.hasErrors('firstLanguage')}? 'has-error'">
                            <label for="secondLanguage">Put text from second language</label>
                            <input type="text" id="secondLanguage" class="form-control" style="height: 500px"
                                   th:field="*{secondLanguage}"/>
                            <span th:if="${#fields.hasErrors('secondLanguage')}" th:errors="*{secondLanguage}"
                                  th:class="help-block">Error</span>
                        </div>
                    </div>
                    <div class="row justify-content-sm-center">
                        <button type="submit" class="btn btn-success col-auto">Pair</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>