<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Languide</title>
    <th:block th:replace="~{layouts/main :: head}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
    </th:block>
</head>
<body>
<div class="container">
    <div th:insert="~{layouts/main :: content}"></div>
    <section>
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card">
                    <div class="card-header bg-primary text-light text-center">
                        Description
                    </div>
                    <div class="card-body">
                        <!--/*@thymesVar id="article" type="xyz.miroslaw.languide.model.Notebook"*/-->
                        <form th:object="${notebook}" action="#" th:action="@{/notebook}" method="post">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title" placeholder="Enter title"
                                       th:field="*{title}" required autofocus>
                            </div>
                            <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                                   class="form-text text-danger"> should has some text
                            </small>
                            <div class="form-group">
                                <label for="tag">Description</label>
                                <input type="text" class="form-control" id="tag" placeholder="Enter description"
                                       th:field="*{description}">
                            </div>
                            <button type="submit" class="btn btn-success">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>