<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Languide</title>
    <th:block th:replace="~{layouts/main :: head}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
    </th:block>
</head>
<body>
<div class="container">
    <div th:insert="~{layouts/main :: content}"></div>
    <div class="row">
        <div class="col-lg-4 mx-auto">
            <!--/*@thymesVar id="user" type="xyz.miroslaw.languide.model.Translation"*/-->
            <form th:object="${translation}" action="/translation"
                  th:action="@{|/user/${#authentication.name}/translation|}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="card">
                    <div class="card-header bg-primary text-light text-center">
                        Add word to dictionary
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="source">Source</label>
                            <input type="text" class="form-control" id="source"
                                   th:field="*{source}" required>
                        </div>
                        <small th:if="${#fields.hasErrors('source')}" th:errors="*{source}"
                               class="form-text text-danger">Password should not be empty
                        </small>
                        <div class="form-group">
                            <label for="articleTranslation">Translation</label>
                            <input type="text" class="form-control" id="articleTranslation"
                                   th:field="*{articleTranslation}">
                        </div>
                        <button type="submit" class="btn btn-success mx-auto">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>